<!-- <div>test post create component</div> -->

<mat-card>
    <mat-form-field>
        <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
    </mat-form-field>
    <button
     mat-raised-button
     color="accent"
     (click)="onAddPost()">Save Post</button>
</mat-card>
<!-- <hr>
{{enteredValue}} -->
<!-- <textarea  rows="6" [value]="newPost" #postInput></textarea> -->
<!-- <textarea  rows="6" [value]="aa"></textarea> -->
<!-- <textarea  rows="6" [value]="newPost"></textarea> -->
<!-- value="text" -->
<!-- horizintal line -->


<!-- <p>{{ 1+1+'shalini'+1+1 }}</p> -->
<!-- <p>{{ newPost }}</p> -->